@import '../../../styles/constants.scss';

.searcher {
  div {
    max-width: 500px;
  }

  button {
    border-radius: 100px;
    padding: $size-lg;
  }

  display: flex;
  justify-content: center;
}
