#backoffice-songs-page {
  .dropzone-title,
  .wozzo-dropzone {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
  }

  .dropzone-title:last-child,
  .wozzo-dropzone:last-child {
    margin-bottom: 2.5rem;
  }
}
