@import '../../../styles/constants.scss';

.music-card {
  width: 300px;
  height: 390px;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;

  .music-card-img {
    
    img {
      width: 100%;
      border-radius: 4px;
    }
  }

  .music-card-back,.music-card-front {
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
    border: solid 2px white;
    border-radius: 4px ;
    background-color: $secondary;
    color: white;
    max-width: 300px;
    height: 390px;
  }

  .music-card-back {
    transform: perspective(600px) rotateY(180deg);
 
  }
  .music-card-front {
    transform: perspective(600px) rotateY(0deg);


    .music-card-front-content{ 
      h1 {
        padding: $size-md;
      }
    }
  }
}

.music-card:hover > .music-card-front {
  transform: perspective(600px) rotateY(-180deg);
}

.music-card:hover > .music-card-back {
  transform: perspective(600px) rotateY(0deg);
}