@import '../../../styles/constants.scss';

.music-card {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  text-align: center;
  padding: 20px;

  .music-card-img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 100%;
  }

  .music-card-back,
  .music-card-front {
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s linear;
    border: solid $size-xs $white;
    border-radius: $size-sm;
    background-color: $secondary;
    color: $white;
    width: 300px;
  }

  .music-card-back {
    transform: perspective(600px) rotateY(180deg);
    position: absolute;
  }
  .music-card-front {
    transform: perspective(600px) rotateY(0deg);
    position: relative;
    height: 390px;

    .music-card-front-content {
      h1 {
        padding: $size-md;
      }
    }
  }
}

.music-card:hover > .music-card-front {
  transform: perspective(600px) rotateY(-180deg);
}

.music-card:hover > .music-card-back {
  transform: perspective(600px) rotateY(0deg);
}
